.css-wop1k0-MuiDataGrid-footerContainer {
  background-color: #ffffff;
  color: #000000;
}

.reduce-delete-portfolio-title {
  display: flex;
  justify-content: center;
}

.company-overview-close-btn {
  display: flex;
  justify-content: center;
}

.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root {
  color: #ffffff;
}
